.course-info {
  border: 1px solid aqua;
  margin-block: 20px;
  padding: 20px;
  block-size: 100%;

  &__back-to-courses-link {
    color: black;
    text-decoration: none;
  }

  & h1 {
  text-align: center;
  }

  &__main {
  display: flex;
    justify-content: space-around;
  }

  &__left-side, &__right-side {
    margin: 10px;
  }

  &__label {
    font-weight: bold;
  }
}