.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #f98a8c;
  outline: 1px solid #fdcecf;
  height: 100px;
  padding: 20px;
  font-weight: bold;
  color: #605c5c;

  &__right-block {
    display: flex;
    justify-content: space-between;
  }

  &__user-name {
    margin-right: 10px;
  }
}
