.course-card {
  display: flex;
  margin-block-end: 20px;
  border: 1px solid #549D79;

  &__left-side {
    width: 65%;
    padding: 20px;

    & h3 {
      margin: 0;
      font-size: 35px;
    }

    & p {
      font-size: 18px;
    }
  }

  &__right-side {
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 20px;

    & button {
      align-self: center;
    }
  }

  & .label {
    font-weight: bold;
  }
}